@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

* {
  font-family: Inter;
  outline: none;
}

pre,
code {
  * {
    font-family: "JetBrains Mono" !important;
    font-size: .75rem !important;
  }
}

.prose {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1rem;
  }

  * {
    font-size: .875rem;

    li {
      margin-block: .25rem !important;
    }
  }

  pre {
    padding: .4rem .875rem;
  }

  .codeblock-pre {
    margin-bottom: 0;
    margin-top: .5rem;
  }

  hr {
    margin-block: 1rem;
  }

  details,
  summary,
  button {
    pointer-events: all;
  }

  details {
    cursor: pointer;
    font-weight: 500;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A1A1AA #F4F4F5;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #F4F4F5;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F4F4F5;
}

*::-webkit-scrollbar-track:active {
  background-color: #E4E4E7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(212 212 216);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(63 63 70)
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(24 24 27);
}